html 
  head 
    title Simple Web Server - #{title}
    block links
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body 
    block header
      h1 Test Layout Header 
    block content
    block footer
      #footer 
        p Test page footer